
a{
  text-decoration: none;
}
/*BG*/

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  margin-top: 3vh;
  border-radius: 10px;
  position: fixed;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.navbar-link:hover {
  color: #ccc;
}



.App-header {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/*BG*/

/*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*/
#port-header{
  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    border-style: solid;
    border-color: white;
    text-align: center;
  }
  #port-header{
    border-style: solid;
    border-color: white;
    text-align: center;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    text-align: center;
  }
}

.header-item{
 text-decoration: none;
 text-align: center;

}

/*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*/


/*HELLO*/ /*HELLO*//*HELLO*/ /*HELLO*/ /*HELLO*//*HELLO*//*HELLO*/
#hello-text{
  font-size: 200px;
  background: -webkit-linear-gradient(#ebb0ff, #afa9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 100px; 
}
#hello-div{
  background-color: white;
}
#name-text{
  font-size: 50px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 100px;
}
#span-text-name{
  font-size: 50px;
  background: -webkit-linear-gradient(#c003ff, #1100ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

.fade-in-hello {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in-name{
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
}
/*HELLO*/ /*HELLO*/ /*HELLO*/ /*HELLO*/ /*HELLO*/ /*HELLO*/ /*HELLO*/ /*HELLO*/

#education-div{
  background-color: white;
}

#ed-text{
  background: -webkit-linear-gradient(#ebb0ff, #afa9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 100px;
  
}
#ed-text-info{
  color:black;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}


/*ED-CARDS*//*ED-CARDS*//*ED-CARDS*//*ED-CARDS*//*ED-CARDS*//*ED-CARDS*//*ED-CARDS*//*ED-CARDS*/
.ed-divs {
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;
}

#nm-div, #nl-div {

  background-color: white;
  width: 300px;
  height: 400px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 16px;
  transition: 0.3s;
  margin-right: 10px;
}
#nm-img, #nl-img{
  width: 100%;
  height: 200px;
}
.ed-name{
  color: black;
}

#nm-div:hover, #nl-div:hover{
  transform: scale(1.02);
  transition: 0.3s;
}

/*ED-CARDS*//*ED-CARDS*//*ED-CARDS*//*ED-CARDS*//*ED-CARDS*//*ED-CARDS*//*ED-CARDS*//*ED-CARDS*/

.hidden{
  opacity:0;
  transition:  all 1.5s;
  filter: blur(5px);

}
.show{
  opacity: 1;
  filter: blur(0);
}



/*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*//*ABOUT ME*/
#about-me-div{
  background-color: black;
  height:1120px;
  
}


#about-me-title{
  background: -webkit-linear-gradient(#ebb0ff, #afa9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 100px;
}

#about-grid-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  
}
#about-me-text{
  justify-content: center;
  text-align: center;
}

#about-grid{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.about-grid-item{
  
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  font-size: 50px;
  transition: 0.3s;


}

#mcSpan{
  color: hsl(197, 95%, 56%);
}
#codeSpan{}
#musicSpan{}
#animeSpan{}
#gamesSpan{}




#my-tech{
  background-color: white;
  
  
}
#tech-title{
  background: -webkit-linear-gradient(#ebb0ff, #afa9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  
}
.tech-png{
  height: 100px;
  width: 100px;
  margin: 50px;
  transition: 0.3s;
}
.tech-png:hover{
  height: 100px;
  width: 100px;
  margin: 50px;
  filter: drop-shadow(0 0 1em #646cffaa);

}


#tech-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#tech-grid-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#my-work{
  background-color: black;
}

#my-certs{
  background-color: white;
}

#my-repos{
  background-color: black;
}

.black{
  color: #000;
}


#repositories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.repository {
height: 300px;
width: 250px;
  background-color: black;
  padding: 15px;
  border-radius: 8px;
}

.loader {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

input[type="number"] {
  width: 50px;
}

input[type="search"] {
  width: 200px;
  margin-right: 10px;
}


/* Add this CSS to your existing stylesheet or style section */
.topic {
display: inline-block;
padding: 5px 10px;
margin: 5px;
background-color: #e0e0e0;
border-radius: 5px;
}

.topics-container {
margin-top: 10px;
}


.pagButton{
height:50px; 
width: 120px;
border-radius: 7px;
background-color: black;
color:white;
border-style: solid;
border-color: white;
transition: 0.3s;
}

.pagNumButton{
height:50px; 
width: 50px;
border-radius: 7px;
background-color: black;
color:white;
border-style: solid;
border-color: white;
transition: 0.3s;
}
.pagNumButton:hover{
background-color:#333;

transition: 0.3s;
}


.pagButton:hover{
background-color:#333;

transition: 0.3s;
}


.styled-form {
padding: 15px;
display: flex;
justify-content: space-between;
width: 98%;
margin:0;
}
/* Adjust spacing and width for better alignment */

.perPage-label{
font-size: 20px;
}

.current{
background-color: white;
border-color: black;
color: black;
}
.border-wrapper{
  display: flex;
 
  width: fit-content;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #ebb0ff, #afa9ff);
  padding: 3px;
  border-radius: 10px;
  
}



.certifications {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.certificate {
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  transition: 0.3s;

}

.certificate:hover{
  transform: scale(1.05);
}

.certificate h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.certificate p, a {
  color: #666;
  font-size: 1em;
  margin-bottom: 5px;
}

.certificate a {
  
  border-style: solid;
  border-radius: 5px;
  border-color: #666;
}
.white{
  color: white !important;
}


.work-experience {
  background-color:black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.job {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.job h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.job p {
  margin-bottom: 10px;
}

.skills h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.skills ul {
  list-style-type: none;
  padding-left: 0;
}

.skills li {
  margin-bottom: 5px;
}

.job-left{
  width: 40%;
}

.color-theme{
  background: -webkit-linear-gradient(#ebb0ff, #afa9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

